#footer-main-container {
  background-color: #f4f0ff;
  color: var(--slate-color-8);
  padding-block: 30px;
  color: var(--slate-color-8);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;
}

.footer-logo {
  color: #10b981;
}

.footer-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: var(--slate-color-9);
  padding-bottom: 10px;
}

.footer-links li {
  padding-bottom: 8px;
  list-style: none;
}

.footer-link {
  color: var(--slate-color-8);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-link:hover {
  color: var(--primary-color-deep);
}

.footer-logo img {
  height: auto;
  max-width: 100%;
  margin-bottom: 16px;
}

.footer-desc {
  line-height: 1.5;
}

.footer-location p {
  line-height: 1.5;
}

.copyright-text {
  border-top: 1px solid var(--gray-color-7);
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding-top: 24px;
}

/* styles for medium screen devices (tablets, small laptops) */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .footer-title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    padding-bottom: 16px;
  }

  .footer-links li {
    padding-bottom: 12px;
  }
}

/* styles for large screen devices (desktops, larger laptops) */
@media (min-width: 1024px) {
  #footer-main-container {
    padding-block: 36px;
  }
  .grid-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 12px;
  }
  .footer-title {
    padding-bottom: 18px;
  }
  .footer-links li {
    padding-bottom: 14px;
  }
  .footer-desc {
    line-height: 1.7;
  }
  .footer-location p {
    line-height: 1.7;
  }
  .footer-logo img {
    margin-bottom: 18px;
  }
  .copyright-text {
    padding-top: 32px;
  }
}

/* styles for extra-large screen devices (large desktops, widescreen) */
@media (min-width: 1280px) {
  #footer-main-container {
    padding-block: 40px;
  }
  .achievements-content {
    row-gap: 14px;
  }
}
