:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove increment and decrement arrows from number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
